body{
	background-color: #888888;
	background-attachment: fixed;
}

h1{
	text-align: center;
	size: 35px;
}

table, td, th{
	border:2px solid #838B8B;
}
table{
	background-color: #F0F0F0;
}

h3{
	color: #F0FF0F;
	background-color: #111111;
}

td{
	font-size: 18px;
	font-family: Times;
	border:2px solid #838B8B;
}

th{
	background-color:#104E8B;
	color:white;
	border:2px solid #838B8B;
	font-size: 18px;
	font-family: Times New Roman;
}
table.calendar th{
	background-color:#008B8B;
	color:white;
	border:2px solid #838B8B;
	font-size: 18px;
	font-family: Times New Roman;
}

#menu{ 
	height:37px; 
	display:block; 
	padding:0; 
	margin:20px auto;  
	border:1px solid; 
	border-radius:5px; 
} 

ul {
	list-style:inside none; 
	padding:0; 
	margin:0;
} 

ul li {
	list-style:inside none; 
	padding:0; 
	margin:0; 
	float:left; 
	display:block; 
	position:relative;
} 

ul li a{ 
	outline:none; 
	display:block; 
	position:relative; 
	padding:12px 20px; 
	font:bold 13px/100% Arial, Helvetica, sans-serif; 
	text-align:center; 
	text-decoration:none; 
	text-shadow:1px 1px 0 rgba(0,0,0, 0.4); 
} 

ul li:first-child a{
	border-radius:5px 0 0 5px;
} 

ul li a:after{ 
	content:''; 
	position:absolute; 
	border-right:1px solid; 
	top:-1px; bottom:-1px; 
	right:-2px; 
	z-index:99; 
} 

ul li a{
	border-right:1px solid #1b313d; 
	color:#fff;
} 

ul li a:after{
	border-color:#6696bd;
} 

ul li a:hover{
	background:#436f93;
} 